<div class="my-2">
  <%= form_with(model: complaint) do |form| %>
    <% if complaint.errors.any? %>
      <div>
        <% complaint.errors.each do |error| %>
          <p class="alert alert-danger" role="alert">
            <%= error.full_message %>
          </p>
          <% end %>
      </div>
      <% end %>

        <div class="form-group">
          <%= form.label :title, { class: "form-label" } %>
            <%= form.text_field :title,{class:"form-control"} %>
        </div>
        <br>
        <div class="form-group">
          <%= form.label :description, { class: "form-label" } %>
            <%= form.text_field :description,{class:"form-control"} %>
        </div>
        <br />
        <div class="form-group">
          <%= form.label :status, { class: "form-label" } %>
            <%= form.text_field :status,{class:"form-control"} %>
        </div>
        <br />
        <div>
          <%= form.submit class: 'btn btn-primary' %>
        </div>

        <% end %>
</div>